@font-face {
    font-family: 'Katarine TRIAL';
    src: url('../fonts/KatarineTRIAL-Light.woff2') format('woff2'),
        url('../fonts/KatarineTRIAL-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Katarine TRIAL';
    src: url('../fonts/KatarineTRIAL-LightItalic.woff2') format('woff2'),
        url('../fonts/KatarineTRIAL-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Katarine TRIAL';
    src: url('../fonts/KatarineTRIAL-Italic.woff2') format('woff2'),
        url('../fonts/KatarineTRIAL-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'RamaGothicEW01';
    src: url('../fonts/RamaGothicEW01-Regular.woff2') format('woff2'),
        url('../fonts/RamaGothicEW01-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Katarine TRIAL';
    src: url('../fonts/KatarineTRIAL-BoldItalic.woff2') format('woff2'),
        url('../fonts/KatarineTRIAL-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Katarine TRIAL';
    src: url('../fonts/KatarineTRIAL-Bold.woff2') format('woff2'),
        url('../fonts/KatarineTRIAL-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Katarine TRIAL';
    src: url('../fonts/KatarineTRIAL-SemiBold.woff2') format('woff2'),
        url('../fonts/KatarineTRIAL-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Katarine TRIAL';
    src: url('../fonts/KatarineTRIAL-Medium.woff2') format('woff2'),
        url('../fonts/KatarineTRIAL-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Katarine TRIAL';
    src: url('../fonts/KatarineTRIAL-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/KatarineTRIAL-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'NimbusSanDCon';
    src: url('../fonts/NimbusSanD-ReguCond.woff2') format('woff2'),
        url('../fonts/NimbusSanD-ReguCond.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Katarine TRIAL';
    src: url('../fonts/KatarineTRIAL-MediumItalic.woff2') format('woff2'),
        url('../fonts/KatarineTRIAL-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Katarine TRIAL';
    src: url('../fonts/KatarineTRIAL-Regular.woff2') format('woff2'),
        url('../fonts/KatarineTRIAL-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Isra';
    src: url('../fonts/Isra-Regular.woff2') format('woff2'),
        url('../fonts/Isra-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

